# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Custom exclusions specific to your project
install.sh

# Lock files
package-lock.json

# Any IDE directories or files
.idea/
.vscode/

