<!DOCTYPE>
<html lang="ja">

<head>
    <meta chartset="utf-8">
    <meta name="viewport" , content="width=device-width, initial-scale=1.0">
    <title>
        <%=title %>
    </title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="box1" style="display:flex; justify-content:center">
        <h3 style="max-width:600px; text-align: left;">
            バックエンドに保存した画像データをimgタグのsrcに設定して、
            フロントエンドのブラウザに表示できるかのテスト→sendFile使ってできた</h3>
    </div>
    <h2>
        <%= title %>
    </h2>
    <div id="new-image">
        <img src="/image" alt="" width="600px">
    </div>
</body>

</html>